.manual-content {
    margin-top: 10px;
    text-align: left;
    width: 100%;
    padding-left: 15px
}
/* .manual-content > .item > label {
} */
.manual-submit-item {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.item-manual-content {
    margin: 5px 0px;
    width: 90%;
    border-radius: 10px;
    height: 23px;
    background-color: #B9B9B9;
    border: 0;
}