@import url("https://fonts.googleapis.com/css2?fmaily=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    background: url('../images/spi.jpeg') no-repeat;
    background-size: auto;
    background-position: auto;
}


.wrapper {
    position: relative;
    width: 500px;
    height: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: flex;
    overflow: hidden;
    transition: height .2s ease;
}

.form-box.login .form-box.register{
    text-align: center;
}

.wrapper .form-box.login{
    position: relative;
    width: 420px;
    background: transparent;
    color: #504c4c;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, .1); */
    backdrop-filter: blur(20px);
    border-radius: 10px;
    padding: 30px 40px;
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    background: transparent;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(6, 6, 6, 0.1);
    border-radius: 40px;
    font-size: 16px;
    color: black;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: rgb(145, 137, 137);
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 47%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input {
    accent-color: black;
    margin-right: 3px;
}

.remember-forgot a {
    color: black;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background: black;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
}

.wrapper .register_link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register_link p a {
    color: black;
    text-decoration: none;
    font-weight: 550;
}

.register_link p a:hover {
    text-decoration: underline;
}





/* REGISTRATION FORM */




.wrapper .form-box.register {
    position: absolute;
    width: 500px;
    background: transparent;
    color: #504c4c;
    border-radius: 10px;
    padding: 30px 40px;
    transition: none;
    transform: translateX(600px);
}

.wrapper.active .form-box.register{
    transition: transform .18s ease;
    transform: translateX(0);
}

.register .terms-condition {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: 20px 0 15px;
}

.form-box.register.register .btn {
    width: 100%;
    height: 45px;
    background: black;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
}


.wrapper .login-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.login-link p a {
    color: black;
    text-decoration: none;
    font-weight: 550;
}

.login-link p a:hover {
    text-decoration: underline;
}
