.schedule {
  align-items: center;
}

.table-calendar {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ccc;
}

.table-calendar > thead > tr > th {
  text-align: center;
  padding: 5px;
  border: 1px solid #ccc;
  background-color: #f2f2f2;
}


.table-calendar > tbody > tr > td {
  position: relative;
  cursor: pointer;
  width: 10%;
  height: 128px;
  border: 1px solid #ccc;
}

.date {
  position: absolute;
  text-align: right;
  top: 0;
  right: 8px;
}

.in-range {
  background-color: #f6ffde;
  color: #000;
}

.out-of-range {
  background-color: #eee;
  color: #434343;
}

.out-of-range .date {
    display: none;
}

.date-picker-container {
    margin-bottom: 16px;
}
.form-input {
    display: inline;
}
.form-input .form-label {
    padding-right: 20px;
}
.form-input > * {
    display: inline-block;
    margin: auto 8px;
}

.form-control {
    border: 1px solid #434343;
    border-radius: 4px;
}
