.main-content-student-list {
    background-color: white;
    /* position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 64px; */
    margin: 20px;
}
.container-student-list {
    background-color: #EEE;
    width: 100%;
    padding-bottom: 10px;
}
.student-table {
    width: 100%;
}
.student-table > thead > tr > th {
    border: solid 1px #ddd;
}
/* .title-student-list {
    display: flex;
    padding: 10px 0;
    align-items: center;
} */
.btn-left {
    margin-left: auto;
}

.addNewStudent {
    background-color: #f0db2d;
    border-radius: 5px;
    margin-right: 10px;
    padding: 5px 10px;
}
.exportButton {
    background-color: #ddd;
    margin-right: 10px;
    border-radius: 5px;
    padding: 5px 10px;
}
.student-table > tbody > tr > td {
    border: solid 1px #ddd;
    text-align: center;
    padding: 5px 0px;
}
.change-student-inf-button{
    display: flex;
    justify-content: space-around;
}